[submodule "guides/ublock"]
	path = guides/ublock
	url = https://github.com/yokoffing/filterlists.git
[submodule "guides/nextdns"]
	path = guides/nextdns
	url = https://github.com/yokoffing/NextDNS-Config.git
[submodule "guides/firefox"]
	path = guides/firefox
	url = https://github.com/yokoffing/Betterfox.git
[submodule "guides/controld"]
	path = guides/controld
	url = https://github.com/yokoffing/Control-D-Config.git
