[submodule "guides/ublock"]
	path = guides/ublock
	url = https://github.com/yokoffing/filterlists.git
[submodule "guides/nextdns"]
	path = guides/nextdns
	url = https://github.com/yokoffing/NextDNS-Config.git
